body{
    background-image:url("images/flower.jpg");
    font-family:'Oswald', sans-serif;
    color:black;
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0px; 
    padding: 0px; 
}

footer{
    background-color: #DAD0EE; 
    height: 75px; 
    text-align: center; 
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: 10px; 
}

.fa-github{
    color: #24292E; 
    font-size: 2rem; 
}

h2 a{
    text-decoration: none; 
    font-weight: 400; 
}

a{
    color: #A890E5;  
}

form{
    margin-bottom: 10px; 
}

.input{
    margin: 2px;
    width: 75%;  
    border: 1px solid #B4B2B6; 
}

button{
    border: 1px solid #D0CDCE;
    background: #D0CDCE;
}
    
.todolist{
    background-color:white;
    margin: 20px auto;
    max-width: 300px;
    padding: 15px;
    color:black;
    box-shadow: 0px 0px 3px 0px #888888;
}

.doneTasks{
    background-color:white;
    margin: 20px auto;
    max-width: 300px;
    padding: 15px;
    color:black;
    box-shadow: 0px 0px 3px 0px #888888;
}

th{
    text-align: left; 
    padding-right: 40px; 
    font-size: 0.8rem; 
}

.task{
    font-size: 0.8rem; 
}

.thAction{
    width: 10%; 
}

.action{
    display: inline-flex; 
    margin-right: 10px; 
    margin-top: 15px; 
}

.delete{
    width: 10%; 
}

.message{
    text-align: center; 
    color: white; 
    background-color: #FF7A7F; 
}

@media screen and (min-width: 800px) { 

    body{
       text-align: center; 
    }

    .todowrapper{
        margin-top: 50px; 
        display: inline-flex; 
        text-align: left; 
    }

    .todolist{
        margin: 20px;
    }

    .doneTasks{
        margin: 20px;
    }

}